.comment-container-wrapper {
    gap: var(--space-300);
}

.comment-container-wrapper h3 {
    color: var(--green-900);
}
.comment-container {
    border: 1px solid var(--grey-100);
    border-radius: var(--space-300);
    padding: var(--space-300);
    font-size: 14px;
    gap: var(--space-300);
}
.comment {
    display: grid;
    grid-template-columns: 44px auto 24px;
    max-height: var(--space-900);
    gap: var(--space-200);
    word-break: break-all;
}
.comment.deleted {
    grid-template-columns: auto 24px;
}
.comment.expanded {
    max-height: none;
}

.comment textarea {
    display: block;
    width: 100%;
    resize: vertical;
    border-radius: var(--space-300);
    padding: var(--space-100);
}

.comment-content.overflown {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment .image-container {
    width: 44px;
    align-self: start;
}

.comment .image-container img {
    border-radius: var(--space-200);
}

.comment-text-upper-section {
    display: flex;
    flex-direction: row;
    gap: var(--space-500);
}

.comment-text-upper-section .banned-label {
    color: var(--main-red);
    font-weight: 700;
}

.comment-text-upper-section .timestamp-label {
    margin-right: 0;
    margin-left: auto;
    font-weight: 700;
}

.toggle-comment-length {
    background: none;
    border: none;
    width: fit-content;
    font-weight: 700;
    color: var(--green-700);
}

.comment-actions {
    gap: var(--space-500);
    display: grid;
    grid-template-columns: 1fr 1fr 2.5fr;
}

.comment-actions.edit-mode {
    display: flex;
    justify-content: space-between;
}
.comment-actions.edit-mode button:last-of-type {
    grid-column-start: 3;
}

.comment-actions .replies-button {
    margin-right: 0;
    margin-left: auto;
    text-align: center;
    width: 60%;
}
