header {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    padding: var(--space-300);
    gap: var(--space-600);
}

header .new-post-button {
    background: linear-gradient(to right, var(--green-900), var(--green-500));
    border: none;
    border-radius: 100vh;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.main-search-bar-section .main-search-bar {
    width: 100%;
    border: 1px solid var(--grey-400);
    border-radius: 100vh;

    padding: var(--space-100) var(--space-400);
}

.header-user-card {
    display: flex;
    flex-direction: row;
    max-width: 200px;
    gap: var(--space-200);
    border: none;
    background-color: transparent;
    text-align: start;
    border-radius: var(--space-300);
    position: relative;
}

.header-user-card .user-info {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header-user-card .image-container,
.header-user-card .image-container img {
    width: 36px;
    height: 36px;
    border-radius: 100vh;
}

.user-info > span {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
