aside.main-navbar {
    height: 100vh;
    position: sticky;
    top: 0;
    bottom: 0;
    border-right: 1px solid var(--grey-100);

    padding: var(--space-500);
    gap: var(--space-700);
    overflow-y: auto;
}

.logo-container {
    max-width: var(--space-800);
    aspect-ratio: 271/80;
}

.sections-list {
    gap: var(--space-400);
}

.sections-list a {
    text-decoration: none;
}

.sections-list > li a {
    color: var(--green-500);
    font-weight: 700;
    font-size: 24px;
}

.sub-sections-list {
    padding: 0 var(--space-300);
}
.sub-sections-list > li a {
    color: var(--grey-400);
    font-weight: 500;
    font-size: 18px;
}
