.post-card {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: var(--space-500);
    gap: var(--space-500);

    border: 1px solid var(--grey-100);
    border-radius: var(--space-300);
}

.post-card .main-section {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--space-500);
}

.post-card .text-section {
    overflow: hidden;
    gap: var(--space-100);
}

.post-card h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    font-size: 20px;
}

.post-card p {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.post-card .post-thumbnail {
    aspect-ratio: 1/1;
    width: 120px;
}

.post-thumbnail img {
    object-fit: cover;
    border-radius: var(--space-300);
}

.post-card .actions {
    padding: 0.25em;
    gap: var(--space-200);
}

.post-card .actions > * {
    flex-basis: 28%;
    border-radius: 100vh;
    font-weight: 700;
    font-size: 14px;
}

.post-card .actions > button:last-of-type,
.post-card .actions > span:last-of-type {
    border: none;
    margin-right: 0;
    margin-left: auto;
}

.post-publish-button {
    background-color: var(--green-500);
    color: white;
}

.post-unpublish-button {
    background-color: var(--grey-100);
    color: var(--green-900);
}
